@use "mixins" as mixins;

.section-container {
  overflow: hidden;
  position: relative;
}

.section {
  padding-bottom: 7.5rem;

	&-header {
		margin-bottom: 3rem;

		@include mixins.breakpoint-up(lg) {
			margin-bottom: 4rem;
		}
	}

	&-title,
	&-subtitle {
		color: var(--dark);
	}

	&-title {
    font-size: var(--fs-h2);
		font-weight: 600;
		line-height: 1.1;

		+ .section-subtitle {
			margin-top: .75rem;

      @include mixins.breakpoint-up(lg) {
        margin-top: 1.25rem;
      }
		}
	}

	&-subtitle {
		font-size: var(--fs-md);
	}
}
