:root {
  --font-family: "Inter", sans-serif;
  --content-width: 1200px;
  --container-offset: 1.25rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-width-lg: calc(992px + (var(--container-offset) * 2));
  --fs-base: .875rem;
  --fs-lg: 1rem;
  --fs-xl: 1.25rem;
  --fw-base: 400;
  --lh-base: normal;
  --title-color: #000;
  --text-color: #333;
  --primary: orange;
  --secondary: #7f42e1;
  --dark: #000;
  --light: #fff;
  --gray: #808080;
  --gray-200: #ccc;
  --body-bg: #fff;
  --rounded: 1rem;
  --shadow: 0 0 .625rem .125rem rgba(0,0,0,0.375);
  --transition-duration: 300ms;
  --transition-timing-function: ease-in-out;
}

@media (min-width: 991.98px) {
  :root {
    --fs-base: 1rem;
    --fs-lg: 1.25rem;
    --fs-xl: 1.5rem;
  }
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

.page-body {
  min-width: 20rem;
  min-height: 100%;
  margin: 0;
  font-family: var(--font-family, sans-serif);
  font-size: var(--fs-base);
  font-weight: var(--fs-base);
  line-height: var(--lh-base);
  color: var(--text-color);
  background-color: var(--body-bg);
}

.page-body,
.site-container,
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.site-container,
.main,
.main-section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.is-hidden {
  display: none !important;
}

.is-invisible {
  opacity: 0 !important;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.text-underline {
  text-decoration-line: underline !important;
  text-decoration-thickness: 0.0625em;
  text-underline-offset: 0.125em;
}

.stretched-link {
  position: absolute;
  inset: 0;
}
.stretched-link::after {
  content: "";
  display: block;
  cursor: pointer;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.centered {
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

h1, .h1 {
  font-size: 3rem;
  line-height: 1em;
}
@media (min-width: 991.98px) {
  h1, .h1 {
    font-size: 4rem;
  }
}

p {
  line-height: 1.5em;
}
p + p {
  margin-top: 1rem;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.container-lg {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width-lg);
}

.section-container {
  overflow: hidden;
  position: relative;
}

.section {
  padding-bottom: 5rem;
}
.section-header {
  margin-bottom: 1.5rem;
}
@media (min-width: 991.98px) {
  .section-header {
    margin-bottom: 3rem;
  }
}
.section-title, .section-subtitle {
  color: var(--gray-400);
  text-transform: uppercase;
}
.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.25em;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
}
.section-title + .section-subtitle {
  margin-top: 1rem;
}
.section-subtitle {
  font-size: 1.5rem;
}

.icon {
  --_size: 1rem;
  --_color: currentColor;
  width: var(--_size);
  height: var(--_size);
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--_color);
}
.icon svg {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

.btn {
  --_width: initial;
  --_height: initial;
  --_fs: var(--fs-base);
  --_fw: 400;
  --_lh: normal;
  --_ls: normal;
  --_color: var(--text-color);
  --_bg: transparent;
  --_border-width: 0;
  --_border-style: solid;
  --_border-color: transparent;
  --_rounded: 0;
  --_padding: 0;
  --_transform: initial;
  --_transition-duration: var(--transition-duration);
  --_transition-timing-function: var(--transition-timing-function);
  --_color-hover: var(--gray-200);
  --_bg-hover: transparent;
  --_border-color-hover: transparent;
  --_transform-hover: initial;
  --_color-active: var(--gray-200);
  --_bg-active: transparent;
  --_border-color-active: transparent;
  --_transform-active: initial;
  --_icon-size: 1rem;
  --_icon-color: currentColor;
  width: var(--_width);
  height: var(--_height);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: var(--_fs);
  font-weight: var(--_fw);
  line-height: var(--_lh);
  letter-spacing: var(--_ls);
  color: var(--_color);
  text-align: center;
  cursor: pointer;
  background-color: var(--_bg);
  border: var(--_border-width) var(--_border-style) var(--_border-color);
  border-radius: var(--_rounded);
  padding: var(--_padding);
  outline: none;
  -webkit-transform: var(--_transform);
  -ms-transform: var(--_transform);
  transform: var(--_transform);
  -webkit-transition-property: color, text-shadow, background, border, opacity, -webkit-transform;
  transition-property: color, text-shadow, background, border, opacity, -webkit-transform;
  transition-property: color, text-shadow, background, border, transform, opacity;
  transition-property: color, text-shadow, background, border, transform, opacity, -webkit-transform;
  -webkit-transition-duration: var(--_transition-duration);
  transition-duration: var(--_transition-duration);
  -webkit-transition-timing-function: var(--_transition-timing-function);
  transition-timing-function: var(--_transition-timing-function);
}
@media (hover: hover) {
  .btn:is(:hover, :focus-visible) {
    color: var(--_color-hover);
    background-color: var(--_bg-hover);
    border-color: var(--_border-color-hover);
    -webkit-transform: var(--_transform-hover);
    -ms-transform: var(--_transform-hover);
    transform: var(--_transform-hover);
  }
}
.btn:is(:active, .is-active) {
  color: var(--_color-active);
  background-color: var(--_bg-active);
  border-color: var(--_border-color-active);
  -webkit-transform: var(--_transform-active);
  -ms-transform: var(--_transform-active);
  transform: var(--_transform-active);
}
.btn .icon {
  --_size: var(--_icon-size);
  --_color: var(--_icon-color);
}

.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.btn-check:checked + .btn {
  --_color: var(--primary);
  --_color-hover: var(--primary);
  --_color-active: var(--primary);
}

.btn-inline {
  --_color: inherit;
}

.btn-inherit {
  --_fs: inherit;
  --_fw: inherit;
  --_lh: inherit;
  --_ls: inherit;
  --_color: inherit;
  display: inline;
  text-transform: initial;
}

.btn-dark {
  --_color: var(--light);
  --_bg: var(--dark);
  --_bg-hover: var(--dark);
  --_bg-active: var(--dark);
}

.btn-icon {
  --_icon-size: 1.5rem;
}

.btn-base {
  --_height: 2.5rem;
  --_fw: 500;
  --_rounded: .625rem;
  --_padding: .25rem 1rem;
}

.btn-lg {
  --_height: 2.5rem;
  --_fs: 1rem;
  --_fw: 500;
  --_rounded: .625rem;
  --_padding: .25rem 1rem;
}
@media (min-width: 991.98px) {
  .btn-lg {
    --_height: 3.125rem;
    --_fs: 1.25rem;
    --_padding: .25rem 1.25rem;
  }
}

.logo {
  --_width: 2.125rem;
  --_height: auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.logo .image {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: contain;
  object-fit: contain;
}

.header {
  color: var(--light);
  background-color: var(--secondary);
  padding-block: 1.25rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1040;
}
.header > .container, .header-start, .header-end, .header-nav, .header-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.25rem;
}
.header > .container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 1rem;
}
.header-end .btn, .header-nav .btn, .header-actions .btn {
  --_color: var(--light) ;
}
@media (min-width: 991.98px) {
  .header .btn-menu {
    display: none;
  }
}

.hero {
  color: var(--light);
  background-color: var(--secondary);
  padding-block: 5rem 10rem;
}
.hero-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4rem;
  text-align: center;
}
@media (min-width: 767.98px) {
  .hero-body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 2rem;
    text-align: start;
  }
}
@media (min-width: 991.98px) {
  .hero-body {
    gap: 4rem;
  }
}
.hero-content {
  max-width: 23.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.25rem;
}
@media (min-width: 767.98px) {
  .hero-content {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
}
@media (min-width: 991.98px) {
  .hero-content {
    max-width: 27.5rem;
  }
}
.hero-description {
  font-size: var(--fs-xl);
  opacity: 0.9;
}
.hero-relative {
  position: relative;
}
.hero-picture {
  width: 100%;
  max-width: 20rem;
  aspect-ratio: 3/4;
  background-color: #9968E7;
  border-radius: 1.25rem;
  overflow: hidden;
  position: relative;
}
@media (min-width: 991.98px) {
  .hero-picture {
    max-width: 22.5rem;
  }
}
.hero-picture picture {
  width: 115%;
  height: 115%;
  display: block;
}
.hero-picture .image {
  width: 100%;
  height: 100%;
  display: block;
}
.hero-users, .hero-emoji, .hero-messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}
.hero-users, .hero-messages {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1rem;
}
.hero-users {
  top: 3rem;
  right: -1rem;
}
@media (min-width: 1199.98px) {
  .hero-users {
    right: -5rem;
  }
}
.hero-messages {
  left: 1rem;
  bottom: -2rem;
}
.hero-user, .hero-emoji, .hero-message {
  border-radius: 0.75rem;
}
.hero-user {
  width: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: var(--dark);
  padding: 1.25rem 1rem;
}
.hero-user:first-child {
  margin-left: -0.875rem;
}
@media (min-width: 991.98px) {
  .hero-user:first-child {
    margin-left: -1.25rem;
  }
}
.hero-user:first-child .hero-user-picture {
  background-color: #5d21ff;
}
.hero-user:first-child .hero-user-status {
  background-color: #ff5e20;
}
.hero-user:last-child .hero-user-picture {
  background-color: #feb820;
}
.hero-user:last-child .hero-user-status {
  background-color: #0fd25d;
}
.hero-user-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.625rem;
}
.hero-user-picture {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.hero-user-picture .image {
  width: 100%;
  height: 100%;
  display: block;
}
.hero-user-placeholder {
  width: 40%;
  height: 0.5rem;
  background-color: rgba(245, 232, 224, 0.5490196078);
  border-radius: 0.75rem;
}
.hero-user-status {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
}
.hero-emoji {
  gap: 1.25rem;
  background-color: #5d21ff;
  padding: 1rem 1.5rem;
  top: 50%;
  left: -1rem;
}
@media (min-width: 575.98px) {
  .hero-emoji {
    left: -3rem;
  }
}
@media (min-width: 991.98px) {
  .hero-emoji {
    left: -5rem;
  }
}
.hero-emoji-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.25rem;
}
.hero-emoji-header {
  font-size: var(--fs-xl);
}
.hero-emoji-body {
  font-size: 0.75rem;
  opacity: 0.9;
}
.hero-message {
  font-weight: 600;
  color: var(--dark);
  text-align: center;
  background-color: var(--light);
  padding: 1.25rem 1.5rem;
}
.hero-message:first-child {
  margin-inline: 3rem -3rem;
}

.rules {
  color: var(--light);
  background-color: var(--secondary);
}
.rules-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.25rem;
}
.rules-title {
  font-size: var(--fs-lg);
  font-weight: 400;
  text-align: center;
}
.rules-body {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}
@media (min-width: 575.98px) {
  .rules-body {
    -ms-grid-columns: (minmax(0, 1fr))[2];
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 767.98px) {
  .rules-body {
    -ms-grid-columns: (minmax(0, 1fr))[3];
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.rule {
  font-size: var(--fs-lg);
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 0.75rem;
  padding: 1.75rem 1.25rem;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}
@media (min-width: 991.98px) {
  .rule {
    padding: 2.5rem 2rem;
  }
}
@media (min-width: 575.98px) {
  .rule:last-child {
    grid-column: -1/1;
  }
}
@media (min-width: 767.98px) {
  .rule:last-child {
    grid-column: initial;
  }
}

.offcanvas {
  --bs-offcanvas-zindex: 1045;
  --bs-offcanvas-width: 25rem;
  --bs-offcanvas-height: 100%;
  --bs-offcanvas-padding: 1.25rem var(--container-offset);
  --bs-offcanvas-color: var(--light);
  --bs-offcanvas-bg: var(--secondary);
  --bs-offcanvas-border-width: 0;
  --bs-offcanvas-border-color: transparent;
  --bs-offcanvas-box-shadow: 0px 0.3px 0px 0px rgba(0, 0, 0, 0.01), 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
  --bs-offcanvas-transition: transform var(--transition-duration) var(--transition-timing-function);
  --bs-offcanvas-title-line-height: var(--lh-base);
}

.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: var(--bs-offcanvas-zindex);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: var(--bs-offcanvas-width);
  color: var(--bs-offcanvas-color);
  visibility: hidden;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: var(--bs-offcanvas-bg);
  background-clip: padding-box;
  -webkit-box-shadow: var(--bs-offcanvas-box-shadow);
  box-shadow: var(--bs-offcanvas-box-shadow);
  outline: 0;
  -webkit-transition: var(--bs-offcanvas-transition);
  transition: var(--bs-offcanvas-transition);
}
.offcanvas.offcanvas-start {
  top: 0;
  left: 0;
  border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.offcanvas.offcanvas-end {
  top: 0;
  right: 0;
  border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.offcanvas.offcanvas-top {
  top: 0;
  right: 0;
  left: 0;
  height: var(--bs-offcanvas-height);
  max-height: 100%;
  border-bottom: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.offcanvas.offcanvas-bottom {
  right: 0;
  left: 0;
  height: var(--bs-offcanvas-height);
  max-height: 100%;
  border-top: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.offcanvas.showing, .offcanvas.show:not(.hiding) {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.offcanvas.showing, .offcanvas.hiding, .offcanvas.show {
  visibility: visible;
}

.offcanvas-backdrop {
  display: block;
  background-color: rgba(255, 255, 255, 0.125);
  -webkit-backdrop-filter: blur(3.125rem);
  backdrop-filter: blur(3.125rem);
  cursor: pointer;
  position: fixed;
  inset: 0;
  z-index: 1040;
}

.offcanvas-header,
.offcanvas-body,
.offcanvas-footer {
  padding: var(--bs-offcanvas-padding);
}

.offcanvas-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.offcanvas-header .btn-close {
  --_color: inherit;
  margin-left: auto;
}

.offcanvas-title {
  margin-bottom: 0;
  line-height: var(--bs-offcanvas-title-line-height);
}

.offcanvas-body {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
}
.offcanvas-body .header-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  gap: 0.75rem;
}
.offcanvas-body .header-nav .btn {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  text-align: start;
}